@page "{Id:int}"
@model RestaurantAdvisor.Pages.Restaurants.DeleteModel
@{
}

<h1 class="alert alert-danger">Are you sure you want to delete @Model.restaurant.Name</h1>

<form method="post">
    <button type="submit" class=" btn btn-outline-danger">Yes</button>
    <a asp-page="./List" class="btn btn-outline-primary">cancel</a>

</form>