@page "{Id:int}"
@model RestaurantAdvisor.Pages.Restaurants.DetailModel
@{
}

<h1>@Model.Restaurant.Name</h1>

<div>
    Location: @Model.Restaurant.Location
</div>
<div>
    Cuisine: @Model.Restaurant.Cuisine
</div>

<a asp-page="./Edit" asp-route-id="@Model.Restaurant.Id" class="btn btn-outline-warning">Edit Restaurant</a>
<a asp-page="./List" class="btn btn-outline-danger">Back to List</a>